header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #22577a;
}

.userBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12px;
    color: white;
}

.userBlock h3 {
    margin: 0;
}

.adminBtn {
    background-color: rgb(19, 124, 19);
    padding: 2px;
    border-radius: 3px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 24px;
    color: white;
}

.logoM {
    font-size: 60px;
    margin-right: 12px;
}

.mobileBurger {
    display: none;
}

@media (max-width: 450px) {
    header {
        height: 48px;
    }
    .userBlock {
        display: none;
    }
    .logo {
        margin-left: 12px;
    }
    .logo h1 {
        font-size: 24px;
        margin: 0;
    }
    .logoM {
        font-size: 24px;
    }
    .mobileBurger {
        display: flex;
        margin-right: 12px;
        font-size: 24px;
        color: white;
    }
}

.searchInput {
    height: 36px;
    outline: none;
    border-radius: 6px;
    border: none;
    font-size: 24px;
    width: 200px;
    padding-left: 6px;
}

.searchSpan {
    display: flex;
    align-items: center;
    position: absolute;
    left: 450px;
    border: 1px solid #6fb1d4;
    padding: 3px;
    border-radius: 6px;
    transition: 500ms all;
}